body {
  font-family: sans-serif;
  font-size: 1.2rem;
	background-color: #3D3D3D;
  color: #F0D7C6;
}
a {
  text-decoration: none;
  color: inherit;
}
a.time, input.time {
  text-align: right;
}
button, input {
  color: #FFF0E5;
	background-color: #545454;
  font-size: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
button:disabled, input:disabled {
  color: #a0968f;
}
button.pressed {
  color: #cee4ee;
	background-color: #545454;
}
.file-chooser-dialog {
  width: 100%;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	background-color: inherit;
}
#app {
  width: 100%;
	height: 100%;
}
section.page > div.padded {
  padding: 1rem;
}
.bar-flex-row {
	min-width: 100%;
	display: flex;
	flex-direction: row;
}
.bar-flex-row-content {
	flex-grow: 1;
}
.bar-flex-row-end {
  justify-content: flex-end;
}
.time {
  width: 8ch;
}
div.flow {
	min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow > button, .flow > i {
  font-size: 2rem;
}
.flow > button {
  padding: 1rem;
}
.flow > i {
  margin: 1rem;
}
img.preview {
  width: 100%;
}
div.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms;
}
div.overlay:hover, img.preview:hover + div.overlay {
  opacity: 1;
}
span.part-even, span.part-odd {
  height: 0.6rem;
}
span.part-even, span.part-odd {
  display: inline-block;
  opacity: 0.5;
}
span.part-even {
  background-color: skyblue;
}
span.part-odd {
  background-color: lightsteelblue;
}
span.part-time {
  opacity: 1;
}
span.position {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin-left: -0.5rem;
  border: 2px solid skyblue;
  border-radius: 1rem;
	background-color: #3D3D3D;
}
div.button-bar {
  text-align: center;
  padding-top: 0.4rem;
}
div.console {
  height: calc(100% - 3rem);
  overflow: auto;
}
