body {
  font-family: sans-serif;
  font-size: 1.2rem;
	background-color: #3D3D3D;
  color: #F0D7C6;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a.time, input.time {
  text-align: right;
}
label {
  padding-top: 0.6rem;
}
select {
  max-width: 100%;
}
button, input {
  color: #FFF0E5;
	background-color: #545454;
  font-size: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
button:disabled, input:disabled {
  color: #a0968f;
}
button.pressed {
  color: #cee4ee;
	background-color: #545454;
}
.file-chooser-dialog {
  width: 100%;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	background-color: inherit;
}
#app {
  width: 100%;
	height: 100%;
}
.padded {
  padding: 1rem;
}
section[name=preview].page {
  overflow-y: auto;
}
section.page > div.padded:first-child {
  overflow-y: auto;
	height: 100%;
  box-sizing: border-box;
}
.bar-flex-row {
	min-width: 100%;
	display: flex;
	flex-direction: row;
}
.bar-flex-row-content {
	flex-grow: 1;
}
.bar-flex-row-end {
  justify-content: flex-end;
}
.time {
  width: 8ch;
}
div.flow {
	min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow > button, .flow > i {
  font-size: 2rem;
}
.flow > button {
  padding: 1rem;
}
.flow > i {
  margin: 1rem;
}
img.preview {
  width: 100vw;
}
div.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 6rem;
  opacity: 0;
  transition: opacity 300ms;
}
div.overlay:hover {
  opacity: 1;
}
.navigation-bar {
  cursor: pointer;
  padding-left: 1%;
  height: 2rem;
  overflow-x: hidden;
}
span.part {
  height: 0.8rem;
  display: inline-block;
  border-radius: 0.2rem;
}
span.position {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin-left: -0.5rem;
  border: 2px solid skyblue;
  border-radius: 1rem;
	background-color: #3D3D3D;
}
div.input-bar, div.button-bar {
  padding-top: 0.4rem;
}
div.button-bar {
  text-align: center;
}
div.console {
  height: calc(100% - 3rem);
  overflow: auto;
}
div.console > pre {
  font-size: 0.9rem;
  margin: 0px;
}

div.splash {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  font-size: 1.8rem;
  vertical-align: middle;
  text-align: center;
  z-index: 1000;
}
:not(.theme-boot) > div.splash {
  display: none;
}

input[type="checkbox"] {
  transform: scale(1.25);
}
